<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Model Web App</title>
</head>
<body>
    <h1>ML Model Web App</h1>
    <form method="post" action="/">
        <label for="input1">Input 1:</label>
        <input type="number" step="any" id="input1" name="input1" required>
        <label for="input2">Input 2:</label>
        <input type="number" step="any" id="input2" name="input2" required>
        <label for="input3">Input 3:</label>
        <input type="number" step="any"" id="input3" name="input3" required>
        <label for="input4">Input 4:</label>
        <input type="number" step="any" id="input4" name="input4" required>
        <label for="input5">Input 5:</label>
        <input type="number" step="any" id="input5" name="input5" required>
        <label for="input6">Input 6:</label>
        <input type="number" step="any" id="input6" name="input6" required>
        
        <button type="submit">Submit</button>
    </form>
    {% if outputs %}
        <p>Model Outputs: {{ outputs[0][0] }}</p>
    {% endif %}
    {% if overall_output %}
        <p>Overall Output: {{ overall_output[0][0] }}</p>
    {% endif %}
</body>
</html>
